albumentations==2.0.8
matplotlib==3.10.8
numpy==2.4.4
opencv_python==4.13.0.92
opencv_python_headless==4.13.0.92
pandas==3.0.2
Pillow==12.2.0
scikit_learn==1.8.0
timm==1.0.26
torch==2.10.0
torchvision==0.25.0
tqdm==4.67.3
